include ./libs/_libs
header.max-w-screen-xl.min-w-sm.flex.items-center.mx-auto.justify-between.px-4.mt-8.pb-3.text-lg
  a(href="#")
    +image('logo', 'png')
  nav(class="hidden md_flex ml-[15%] justify-end")
    ul.flex.gap-x-10
      li.header-item Explore
      li.header-item Creators
      li.header-item Community
  a(class="hidden md_block text-text-secondary border-text-secondary border px-8 py-5 font-semibold", href="#") Connect Wallet
  div(class="md_hidden")
    svg(width="24", height="16", viewBox="0 0 24 16", fill="none", xmlns="http://www.w3.org/2000/svg")
      path(d="M0.799805 16H23.1998V12.8H0.799805V16ZM0.799805 0V3.2H23.1998V0H0.799805ZM0.799805 9.6H23.1998V6.4H0.799805V9.6Z", fill="#FFCE4E")
