include ./libs/_libs
section(class="max-w-screen-xl min-w-sm px-4 pt-[75px] pb-[60px] bg-blur")
  .flex.justify-center.items-center
    h2(class="relative inline-block font-title font-bold text-4xl mb-[68px] before_absolute before_-z-10 before_block before_bg-[#8613A5] before_w-[84px] before_h-[84px] before_rounded-[50%] before_-bottom-1/2 before_-left-[1.25rem]")
      | Live Auctions
  div
    ul.flex.items-center.flex-col.gap-12
      li.bg-bg-card.w-full.p-6.flex.flex-col.gap-3
        .relative
          +imageClass('6', 'jpg', 'w-full h-auto')
          .absolute(class="absolute w-1/2 bottom-0 bg-gradient-to-r from-[#8613A5] to-[#FAFAFAA6] py-3 px-9")
            time.font-semibold 09:42:15
        .flex.items-center.justify-between.flex-col.gap-5
         .w-full.flex.justify-between
            div(class="flex gap-2.5")
              +imageRandomUser('women', '84', 'w-10 h-10 rounded-[50%]')
              div
                p.font-semibold Digital Art
                span.text-cardcolor.text-sm.font-normal by @poiu
            .flex.gap-1.items-center
              svg.size-6(xmlns="http_//www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="#BDAAC1")
                path(stroke-linecap="round", stroke-linejoin="round", d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z")
                  span.text-cardcolor.text-2xl.font-normal 41
        .w-full.flex.justify-between
              p.font-normal.text-xl.text-card-color-second Current Bid
              p.font-title.font-bold.text-2xl 9.45 ETH
        button(class='w-full border border-[#BCB39A] bg-card-btn-bg font-medium text-xl py-3')
                    | Place a
                    | bid
      li.bg-bg-card.w-full.p-6.flex.flex-col.gap-3
        .relative
          +imageClass('5', 'jpg', 'w-full h-auto')
          .absolute(class="absolute w-1/2 bottom-0 bg-gradient-to-r from-[#8613A5] to-[#FAFAFAA6] py-3 px-9")
            time.font-semibold 01:20:14
        .flex.items-center.justify-between.flex-col.gap-5
         .w-full.flex.justify-between
            div(class="flex gap-2.5")
              +imageRandomUser('men', '51', 'w-10 h-10 rounded-[50%]')
              div
                p.font-semibold Digital Art
                span.text-cardcolor.text-sm.font-normal by @ihnvc
            .flex.gap-1.items-center
              svg.size-6(xmlns="http_//www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="#BDAAC1")
                path(stroke-linecap="round", stroke-linejoin="round", d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z")
                  span.text-cardcolor.text-2xl.font-normal 54
        .w-full.flex.justify-between
              p.font-normal.text-xl.text-card-color-second Current Bid
              p.font-title.font-bold.text-2xl 6.41 ETH
        button(class='w-full border border-[#BCB39A] bg-card-btn-bg font-medium text-xl py-3')
                    | Place a
                    | bid
      li.bg-bg-card.w-full.p-6.flex.flex-col.gap-3
        .relative
          +imageClass('4', 'jpg', 'w-full h-auto')
          .absolute(class="absolute w-1/2 bottom-0 bg-gradient-to-r from-[#8613A5] to-[#FAFAFAA6] py-3 px-9")
            time.font-semibold 04:20:14
        .flex.items-center.justify-between.flex-col.gap-5
         .w-full.flex.justify-between
            div(class="flex gap-2.5")
              +imageRandomUser('men', '12', 'w-10 h-10 rounded-[50%]')
              div
                p.font-semibold Virtual Art
                span.text-cardcolor.text-sm.font-normal by @trfgv
            .flex.gap-1.items-center
              svg.size-6(xmlns="http_//www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="#BDAAC1")
                path(stroke-linecap="round", stroke-linejoin="round", d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z")
                  span.text-cardcolor.text-2xl.font-normal 84
        .w-full.flex.justify-between
              p.font-normal.text-xl.text-card-color-second Current Bid
              p.font-title.font-bold.text-2xl 8.96 ETH
        button(class='w-full border border-[#BCB39A] bg-card-btn-bg font-medium text-xl py-3')
                    | Place a
                    | bid
      li.bg-bg-card.w-full.p-6.flex.flex-col.gap-3
        .relative
          +imageClass('3', 'jpg', 'w-full h-auto')
          .absolute(class="absolute w-1/2 bottom-0 bg-gradient-to-r from-[#8613A5] to-[#FAFAFAA6] py-3 px-9")
            time.font-semibold 06:10:13
        .flex.items-center.justify-between.flex-col.gap-5
         .w-full.flex.justify-between
            div(class="flex gap-2.5")
              +imageRandomUser('women', '17', 'w-10 h-10 rounded-[50%]')
              div
                p.font-semibold Virtual Art
                span.text-cardcolor.text-sm.font-normal by @trews
            .flex.gap-1.items-center
              svg.size-6(xmlns="http_//www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="#BDAAC1")
                path(stroke-linecap="round", stroke-linejoin="round", d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z")
                  span.text-cardcolor.text-2xl.font-normal 74
        .w-full.flex.justify-between
              p.font-normal.text-xl.text-card-color-second Current Bid
              p.font-title.font-bold.text-2xl 4.22 ETH
        button(class='w-full border border-[#BCB39A] bg-card-btn-bg font-medium text-xl py-3')
                    | Place a
                    | bid
      li.bg-bg-card.w-full.p-6.flex.flex-col.gap-3
        .relative
          +imageClass('2', 'jpg', 'w-full h-auto')
          .absolute(class="absolute w-1/2 bottom-0 bg-gradient-to-r from-[#8613A5] to-[#FAFAFAA6] py-3 px-9")
            time.font-semibold 04:20:14
        .flex.items-center.justify-between.flex-col.gap-5
         .w-full.flex.justify-between
            div(class="flex gap-2.5")
              +imageRandomUser('women', '12', 'w-10 h-10 rounded-[50%]')
              div
                p.font-semibold Digital Art
                span.text-cardcolor.text-sm.font-normal by @oops
            .flex.gap-1.items-center
              svg.size-6(xmlns="http_//www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="#BDAAC1")
                path(stroke-linecap="round", stroke-linejoin="round", d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z")
                  span.text-cardcolor.text-2xl.font-normal 86
        .w-full.flex.justify-between
              p.font-normal.text-xl.text-card-color-second Current Bid
              p.font-title.font-bold.text-2xl 5.12 ETH
        button(class='w-full border border-[#BCB39A] bg-card-btn-bg font-medium text-xl py-3')
                    | Place a
                    | bid
      li.bg-bg-card.w-full.p-6.flex.flex-col.gap-3
        .relative
          +imageClass('1', 'jpg', 'w-full h-auto')
          .absolute(class="absolute w-1/2 bottom-0 bg-gradient-to-r from-[#8613A5] to-[#FAFAFAA6] py-3 px-9")
            time.font-semibold 03:18:24
        .flex.items-center.justify-between.flex-col.gap-5
         .w-full.flex.justify-between
            div(class="flex gap-2.5")
              +imageRandomUser('men', '62', 'w-10 h-10 rounded-[50%]')
              div
                p.font-semibold Virtual Art
                span.text-cardcolor.text-sm.font-normal by @wzard
            .flex.gap-1.items-center
              svg.size-6(xmlns="http_//www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="#BDAAC1")
                path(stroke-linecap="round", stroke-linejoin="round", d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z")
                  span.text-cardcolor.text-2xl.font-normal 92
        .w-full.flex.justify-between
              p.font-normal.text-xl.text-card-color-second Current Bid
              p.font-title.font-bold.text-2xl 4.89 ETH
        button(class='w-full border border-[#BCB39A] bg-card-btn-bg font-medium text-xl py-3')
                    | Place a
                    | bid
                    
    div
        svg.size-6(xmlns="http_//www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor")
                path(stroke-linecap="round", stroke-linejoin="round", d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18")
        svg.size-6(xmlns="http_//www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor")
                    path(stroke-linecap="round", stroke-linejoin="round", d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3")
        button View All