include ./libs/_libs
section.md_bg-top-creators-bg.md_bg-opacity-70.md_bg-cover.pb-20.md_pt-28
  h2.bg-top-creators-bg.bg-opacity-70.bg-cover.bg-repeat.sm_bg-none.md_text-6xl.text-center.font-bold.font-title.text-3xl.mb-14.px-14.py-6
    | Ready for Next NFT Drop?
  .max-w-screen-xl.min-w-sm.mx-auto.px-4
    form.md_flex.md_justify-center.md_items-center
      input(class="border border-input-border w-full bg-transparent py-5 px-8 text-left placeholder-input-placeholder text-lg placeholder-font-semibold mb-8 md_w-[456px] md_m-0 md_h-[96px] focus_outline-none", type="text", placeholder="info@gmail.com")
      button(class="bg-text-secondary w-[187px] h-[54px] text-[#251928] text-center font-bold text-2xl block mx-auto md_m-0 md_h-[96px] md_w-[244px]") Subscribe
