include ./libs/_libs
section.bg-top-creators-bg.bg-no-repeat.bg-opacity-50.bg-left-top.md_bg-none
  div(class="max-w-screen-xl min-w-sm px-4 pt-[75px] pb-[60px] mx-auto relative")
    .flex.justify-center.items-center
      h2(class="md_text-6xl md_mb-[88px] relative z-20 inline-block text-nowrap font-title font-bold text-3xl mb-[68px] before_absolute before_-z-10 before_block before_bg-top-creators-element-color before_w-[84px] before_h-[84px] before_rounded-[50%] before_-bottom-1/2 before_-left-[1.25rem] md_before_w-[110px] md_before_h-[110px]")
        | Top Creators
    ul.flex.justify-center.items-center.flex-col.gap-6.xl_flex-row.xl_flex-wrap
      li(class="bg-top-creators-card-bg opacity-85 md_opacity-100 flex justify-between w-full py-7 px-4 border-l-2 border-top-creators-element-color max-w-[608px]")
        .flex.justify-center.items-center.gap-5
          +imageRandomUser('women', '2', 'w-12 h-12 rounded-full md:w-[104px] md:h-[104px]')
          .flex.flex-col.justify-center.items-start
            p.text-text-main.text-xl.font-semibold.leading-9.md_text-3xl.md_font-title Jane Doe
            span.text-cardcolor.text-sm.font-normal.md_text-2xl 4.89 ETH
        div(class="flex flex-col justify-center items-center border-l-2 border-[#5E4564] pl-5")
          span.font-bold.font-title.text-2xl.leading-9.md_text-3xl 33
          span(class="text-[#908294] text-base font-medium md:text-2xl") Items
      li(class="bg-top-creators-card-bg opacity-85 md_opacity-100 flex justify-between w-full py-7 px-4 border-l-2 border-top-creators-element-color max-w-[608px]")
        .flex.justify-center.items-center.gap-5
          +imageRandomUser('men', '2', 'w-12 h-12 rounded-full md:w-[104px] md:h-[104px]')
          .flex.flex-col.justify-center.items-start
            p.text-text-main.text-xl.font-semibold.leading-9.md_text-3xl.md_font-title Wzard Dee
            span.text-cardcolor.text-sm.font-normal.md_text-2xl 2.89 ETH
        div(class="flex flex-col justify-center items-center border-l-2 border-[#5E4564] pl-5")
          span.font-bold.font-title.text-2xl.leading-9.md_text-3xl 88
          span(class="text-[#908294] text-base font-medium md:text-2xl") Items
      li(class="bg-top-creators-card-bg opacity-85 md_opacity-100 flex justify-between w-full py-7 px-4 border-l-2 border-top-creators-element-color max-w-[608px]")
        .flex.justify-center.items-center.gap-5
          +imageRandomUser('women', '7', 'w-12 h-12 rounded-full md:w-[104px] md:h-[104px]')
          .flex.flex-col.justify-center.items-start
            p.text-text-main.text-xl.font-semibold.leading-9.md_text-3xl.md_font-title Jane Dee
            span.text-cardcolor.text-sm.font-normal.md_text-2xl 7.95 ETH
        div(class="flex flex-col justify-center items-center border-l-2 border-[#5E4564] pl-5")
          span.font-bold.font-title.text-2xl.leading-9.md_text-3xl 44
          span(class="text-[#908294] text-base font-medium md:text-2xl") Items
      li(class="bg-top-creators-card-bg opacity-85 md_opacity-100 flex justify-between w-full py-7 px-4 border-l-2 border-top-creators-element-color max-w-[608px]")
        .flex.justify-center.items-center.gap-5
          +imageRandomUser('men', '71', 'w-12 h-12 rounded-full md:w-[104px] md:h-[104px]')
          .flex.flex-col.justify-center.items-start
            p.text-text-main.text-xl.font-semibold.leading-9.md_text-3xl.md_font-title John Doe
            span.text-cardcolor.text-sm.font-normal.md_text-2xl 6.44 ETH
        div(class="flex flex-col justify-center items-center border-l-2 border-[#5E4564] pl-5")
          span.font-bold.font-title.text-2xl.leading-9.md_text-3xl 22
          span(class="text-[#908294] text-base font-medium md:text-2xl") Items
      li(class="hidden bg-top-creators-card-bg opacity-85 md_opacity-100 justify-between w-full py-7 px-4 border-l-2 border-top-creators-element-color max-w-[608px]")
        .flex.justify-center.items-center.gap-5
          +imageRandomUser('men', '23', 'w-12 h-12 rounded-full md:w-[104px] md:h-[104px]')
          .flex.flex-col.justify-center.items-start
            p.text-text-main.text-xl.font-semibold.leading-9.md_text-3xl.md_font-title Wzard Dee
            span.text-cardcolor.text-sm.font-normal.md_text-2xl 7.19 ETH
        div(class="flex flex-col justify-center items-center border-l-2 border-[#5E4564] pl-5")
          span.font-bold.font-title.text-2xl.leading-9.md_text-3xl 33
          span(class="text-[#908294] text-base font-medium md:text-2xl") Items
      li(class="hidden bg-top-creators-card-bg opacity-85 md_opacity-100 justify-between w-full py-7 px-4 border-l-2 border-top-creators-element-color max-w-[608px]")
        .flex.justify-center.items-center.gap-5
          +imageRandomUser('women', '31', 'w-12 h-12 rounded-full md:w-[104px] md:h-[104px]')
          .flex.flex-col.justify-center.items-start
            p.text-text-main.text-xl.font-semibold.leading-9.md_text-3xl.md_font-title Wzard Dee
            span.text-cardcolor.text-sm.font-normal.md_text-2xl 8.89 ETH
        div(class="flex flex-col justify-center items-center border-l-2 border-[#5E4564] pl-5")
          span.font-bold.font-title.text-2xl.leading-9.md_text-3xl 58
          span(class="text-[#908294] text-base font-medium md:text-2xl") Items
    button.mt-12.mx-auto.block.py-3.px-14.font-semibold.text-lg.border.border-text-secondary.md_text-3xl.md_font-medium.cursor-pointer View All
