include pug/libs/_libs

doctype html
html(lang="en")
  include pug/_head
  body.bg-bg-main.text-text-main.mx-auto.font-main.font-medium
  include pug/_header
  main#main
   include pug/_section-hero
   include pug/_section-liveAuctions
   include pug/_section-HowItWorks
   include pug/_section-popularCollections
   include pug/_section-exploreByCategories
  include pug/_footer
       